
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


body{
    margin: 0;
    padding: 0;
    background: linear-gradient(218deg, rgb(251, 251, 255) 0.00%, rgb(201, 173, 173) 96.23%);
}
.head_index{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    vertical-align: middle;
    align-items: center;
    box-shadow:  5px 2px 2px #aaaaaa;
}
.head_index .nav{
    display: flex;
    vertical-align: middle;
}
.list_sign{
    list-style: none;
    display: flex;
}
.sign{
    margin-right: 8px;
    padding: 4px;
}
.size{
    font-size: 24px !important;
    
    
}
a{
    text-decoration: none;
}
.link_head{
    border: 1px solid #cd0b0b;
    color: #cd0b0b;
    padding: 10px;
    background-color: rgb(253, 254, 254);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
}
.link_head:hover{
    background: #cd0b0b;
    color: white;
    border-color: white;
}
.logo{
    width: 120px;
    
}
.burger{
    color: #cd0b0b;
    font-size: 32px;
    padding: 15px;
  
}
.burger:hover{
    color: #ce9696;
}
.link_nav{
    display: flex;
    vertical-align: middle;
    
}
.Scroll_menu{
list-style: none;
display: none;
}
.container{
    width: 80%;
    margin: auto;
    padding: 4px;
    font-family: "roboto",sans-serif;
}
.banner{
    display: flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center;
    padding: 16px;
    margin-top: 32px;
}
.banner_title{
    color: #0e0e4c;
    line-height: normal;
    margin-right: 2%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}
.banner_title h3{
    font-size: 124px;
    margin: 0%;
}
.banner_title p{
    margin: 2px;
    font-family: "inter",sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.banner_movie{
   justify-content: center;
    display: flex;
    padding: 18px;
}
.banner_sign{
    margin-top: 8px;
    padding: 10px;
    border: 1px #cd0b0b solid;
    text-align: center;
    background-color: #cd0b0b;
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    top:10px;
}
.banner_sign:hover{
    border-color: #cd0b0b;
    background-color: #ffffff00;
    color: #cd0b0b;
    top: 0;
}
.video{
    width: 600px;
    height: auto;
}